.idea/
.vscode/
*.sln
*.vcxproj
*.vcxproj.user

cmake-build-debug/
cmake-build-release/
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.exe
*.dll
*.lib
*.a
*.o
*.obj
*.pdb

saves/
*.dat

Thumbs.db
.DS_Store